@model Author
@{
    ViewBag.Title = "Agregar un Autor / Add an Author";
}

<h2>Agregar un Autor / Add an Author <a asp-action="Index" class="btn btn-sm btn-secondary">Atrás / Back</a></h2>
<form asp-action="AddAuthor" method="post" class="col-md-6">
    <div class="form-group">
        <label for="FullName">Nombre:</label>
        <input class="form-control" name="FullName" asp-for="FullName" />        
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="BirthDate">Fecha de Nacimiento:</label>
        <input class="form-control" name="BirthDate" type="date" asp-for="BirthDate"/>
        <span asp-validation-for="BirthDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="City">Ciudad de origen:</label>
        <input class="form-control" name="City" asp-for="City"/>        
    </div>
    <div class="form-group">
        <label for="eMail">Email:</label>
        <input class="form-control" name="eMail" type="email" asp-for="eMail"/>
        <span asp-validation-for="eMail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="RUT">RUT:</label>
        <input class="form-control" name="RUT" type="number" asp-for="RUT"/>
        <span asp-validation-for="RUT" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="DV">Rut DV</label>
        <input class="form-control" name="DV" maxlength="1" asp-for="DV" />
        <span asp-validation-for="DV" class="text-danger"></span>
    </div>
    <div asp-validation-summary="All">        
    </div>
    <div class="text-center panel-body mt-3">
        <button type="submit" class="btn btn-sm btn-primary">Crear Autor / Add Author</button>
    </div>
</form>