@{
    ViewData["Title"] = "Inicio / Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bookstore Client sample .Net Core Web APP</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
